body {
  background-color: #f6f8fc;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

header {
  display: flex;
  height: 48px;
  justify-content: flex-start;
  padding: 8px;
  align-items: center;
  top: 0px;
}

svg {
  fill: #444746;
  width: 24px;
  height: 24px;
  padding: 12px;
}

header div {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 4px;
}

.logo svg {
  margin-right: 4px;
}

.pfp {
  max-width: 32px;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  background-color: black;
  margin: 12px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}

.menu svg {
  padding: 10px;
}

.search-bar {
  margin-left: 82px;
}
input {
  border: none;
  background-color: #eaf1fb;
  width: 720px;
  height: 48px;
  border-radius: 48px;
  padding-left: 5%;
}

.body {
  display: grid;
  grid-template-columns: 255px 1fr 55px;
  grid-template-rows: 91vh;
  gap: 0px 0px;
}

.inbox {
  background-color: white;
  min-height: 100%;
  border-radius: 15px;
}

.sidebar {
  padding: 8px 16px 8px 0px;
}

.sidebar div {
  margin-bottom: 16px;
}

.filters div {
  margin-bottom: 0px;
}

.dropdown-btn {
  border: none;
  background: none;
  font: inherit;
  padding: 0px;
}

.compose-btn {
  height: 56px;
  width: 142px;
  background-color: rgb(194, 231, 255);
  border: none;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
}

.compose {
  width: 100%;
  margin-left: 8px;
}

.item {
  display: flex;
  height: 32px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 0px 20px 20px 0px;
}

.item p {
  margin: 0px;
  line-height: 32px;
}

.icon {
  margin-left: 27px;
}

.filter-title {
  margin-left: 20px;
}

.notif {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.active {
  background-color: #d3e3fd;
}

.show {
  display: block !important;
}

.dropdown {
  display: none;
}

.labels {
  margin-left: 27px;
  margin-top: 30px;
}
